

.specials {
    --content-width: 95rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
    width: 100%;
    

    & .specials-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        width: 100%;
        max-width: var(--content-width);


        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
            margin-bottom: 1rem;
        }


        & .specials-title {
            @media (max-width: 450px) {
                font-size: var(--font-size-5xl);
            }
        }

    }

    & .specials-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: var(--content-width);

    

        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }
    
    }
}