
.call-to-action {



    background-color: var(--color-primary-one);

    & .cta-content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10rem;
        padding: 3rem 0;
    

        & .cta-main {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            gap: 2rem;

  
            min-height: 25rem;

            @media (max-width: 899px) {
                    
                max-width: 21rem;
            }

            @media (min-width: 900px) {
                max-width: 30rem;
    
            }

            

            & .description-container {

                display: flex;
                flex-direction: column;

                color: var(--color-highlight-one);
                
                & .cta-title {
                    color: var(--color-primary-two);
                }

                & .cta-subtitle {
                    margin-top: -1rem;
                    color: var(--color-secondary-three);
                }

                & .cta-description {
                    padding-top: 1rem;
                    font-size: 2rem;
                    color: var(--color-secondary-three);
                }
            }
        
        }




        & .cta-image-container {
            display: flex;
            align-items: center;
            overflow: hidden;
            border-radius: 4rem;
            
            max-height: 30rem;
        
            & .cta-image {

                max-height: 40rem;
                object-fit: cover;
            }
        }



    }
}

