.header-container {
    display: flex;

    @media (min-width: 1025px) {
        justify-content: center;
        gap: 2.5rem;
    }

    @media (max-width: 1024px) {
        justify-content: space-between;
    }
  
    align-items: center;
    padding: 1.5rem 3rem;
}

.header {
    background-color: var(--color-background);
}

.hidden {
    display: none;
}

.desktop {
    @media (min-width: 1025px) {
        display: block;
    }
}

.mobile {
    @media (max-width: 1024px) {
        display: block;
    }
}

.hamburger-icon {
    
    color: var(--color-primary-one);
    font-size: var(--font-size-4xl);

}

