.nav {
    & ul {
        display: flex;
        gap: 1rem;

        & li { 
            
            & .nav-item {

                font-size: var(--font-size-lg);
                font-weight: var(--font-weight-bold);
                color: var(--color-primary-one);
                padding: 1rem 2rem;
    
    
                &:hover, &:active {
                    color: var(--color-background);
                    background-color: var(--color-primary-one);
                    border-radius: 2.5rem;
                }

                &:focus {
                    outline: none;
                }
            }
            
        }
    }

}